<div class="container-fluid overflow-x-scroll">
  <div class="row">
    <div class="col border-bottom">
{{> app.header}}
    </div>
  </div>
  <div style="height: 60vw" class="row">
    <div class="col-2 h-75  d-inline-block border-end">
      {{>sidenav }}
    </div>
    <div class="col">
     <!--This is where <outlet> used to live-->
      <div id="main-view">
        {{#if appData.view.[0].viewFlags.[0] }}
          {{> table}}
        {{else}}
          {{> init}}
        {{/if}}
      </div>
      
    </div>
  </div>
</div>