 {{#each appData.view.[1].data}}
<div class="me-2 mt-2 mb-2">
  <button
    style="width: 125px;"
    class="btn btn-primary "
    type="button"
    aria-expanded="false"
    hx-get="{{../appData.view.[1].htmx.[0].url}}{{@index}}"
    hx-swap="innerHTML"
    hx-trigger="click"
    hx-target="#main-view"
  >
    {{ this.lbl }}
  </button>
</div>
{{/each}}