 {{#each appData.view.[1].data}}
<div class="me-2 mt-2 mb-2">
  <button
    style="width: 125px;"
    class="btn btn-primary "
    type="button"
    aria-expanded="false"
    hx-get="/element/event/click/"
    hx-swap="innerHTML"
    hx-trigger="click"
    hx-target="#html_tag"
    hx-vals='{
      "index": "{{ @index }}",
      "label": "{{ this.lbl }}",
      "view_id": "{{ ../appData.view.[1].id }}",
      "view_str": "sidnav"
    }' >
    {{ this.lbl }}
  </button>
</div>
{{/each}}


 