
<ul class="mt-5">
{{#each appData.view.[3].data}}
<div class="me-2">
  <li
    style="height: 40px"
    class="text-bg-primary border border-secondary-subtle text-center"
    aria-expanded="false"
    hx-get="{{../appData.view.[1].htmx.[0].url}}{{@index}}"
    hx-swap="innerHTML"
    hx-trigger="click"
    hx-target="#main-view"
  >
    <p class="mt-1">{{ this.lbl }}</p>
  </li>
</div>
{{#if this.caret}}
<ul>
    <li>This is a test</li>
</ul>
{{/if}}
{{/each}}
</ul>