<div id="table1" class="">
  <div class="d-flex flex-row justify-content-between mt-2">
    <h3>
      {{appData.view.2.data.0.tableName}}
    </h3>
    <div class="d-flex flex-row w-25">
      <h4 class="mt-1 me-2">
        Search
      </h4>
      <input
        id="myinput"
        class="form-control"
        type="search"
        name="search"
        value="{{appData.view.2.data.5.searchInputValue}}"
        placeholder="Begin Typing To Search Users..."
        hx-post="/element/event/search/"
        hx-trigger="input changed delay:500ms, search"
        hx-target="#table1"
        hx-swap="#myinput"
        hx-indicator=".htmx-indicator"
        hx-vals='{
        "view_id": "2", 
        "view_str": "table"}'
      />
    </div>
  </div>

  <table class="table mt-2 border">
    <thead>
      <tr>
        {{#each appData.view.2.data.1.hdr}}
          <th class="border mx-auto bg-primary" scope="col">
            {{this}}
          </th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each appData.view.2.data.2.row}}
        <tr>
          {{#each this}}
            <td>
              {{this}}
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="d-flex flex-row">
    <button
      style="width: 5em;"
      type="button"
      class="btn btn-primary me-3"
      hx-get="/element/event/click/"
      hx-swap="innerHTML"
      hx-trigger="click"
      hx-target="#table1"
      hx-vals='{
        "index": "",
        "sub_index": "",
        "label": "Previous",
        "view_id": "2", 
        "view_str": "table"}'
    >
      Previous
    </button>
    <button
      style="width: 5em;"
      type="button"
      class="btn btn-primary"
      hx-get="/element/event/click/"
      hx-swap="innerHTML"
      hx-trigger="click"
      hx-target="#table1"
      hx-vals='{
        "index": "",
        "sub_index": "",
        "label": "Next",
        "view_id": "2", 
        "view_str": "table"}'
    >
      Next
    </button>
  </div>
</div>